
body {
  font-family: 'Catamaran';
  
}

* {
  margin:0px;
}



.button {
  
  display: flex;
  background-color: blue;
  /*border: 1px solid black;*/
  border: none;
  padding: 0px var(--three-gu) ;
  align-items:center;
  text-decoration: none;
  height: var(--six-gu);
  width:100%;
  font-family: 'Catamaran';
  font-size: 16px;
  color: transparent;
  /*border: 5px solid red;*/
}


.onPrimary {
  background-color: var(--primary);
  color: var(--primary-contrast);
  
}

.onSecondary {
  background-color: var(--secondary);
  color: var(--secondary-contrast);
  
}


.button.transparent {
    background-color: transparent;
}



.usfNav, .eComNav {
  display: flex;
  flex-wrap:wrap;
  padding:var(--one-gu);
  gap: 8px;

  }

.container :first-child {
    margin-top: 0;
}

.L1nav{
  margin-top:var(--ten-gu);
  transform: translate(0%,0%);
  transition:transform 500ms cubic-bezier(.36, 0, .5, 1);
  
}

.L1nav.closedMenu {

  transform: rotate(0deg) translate(0%,-100%);

}

.L1nav.closedMenu .button{
  display: none,;

}





